menu "Example Configuration"

config AP_BUTTON_GPIO
    int "Blink GPIO number"
	range 0 39
	default 0
	help
		GPIO number (IOxx) that switches back to AP mode, to allow for reconfiguration.

endmenu
